/* home.css */
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-color: black;
}

.title {
  color: aliceblue;
}

.number {
  position: absolute;
  font-size: 40px;
  color: white;
  transition: transform 1s ease-in-out;
}

.sky-blue {
  color: rgb(6, 174, 240);
}

.orange {
  color: rgb(254, 167, 7);
}

.paragraph {
  color: aliceblue;
  font-size: 20px;
}
