/* Quote.css */
.quote-container {
  display: flex;
  flex-direction: column; 
  gap: 3em; 
}

.quote-title {
  color: yellow;
}

.quote-display {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(216, 244, 3, 0.1);
  text-align: center;
}

.quote-text {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.author {
  font-size: 22px;
  color: #454e02;
}

.quote-loading,
.quote-error {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
